<h4>Requests</h4>

<div class="panel panel-default">

    <div class="panel-heading">
        <label for="last5">Last 5 only</label>
        <input id="last5" type="checkbox" ng-model="ctrl.last5" ng-change="ctrl.refreshHistory()"/>
        <label for="search">Filter by description</label>
        <input id="search" type="text" ng-model="ctrl.filter" ng-change="ctrl.refreshHistory()"/>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>User ID</th>
                <th>User Email</th>
            
                <th>Balance after</th>
            </tr>
            <tr ng-repeat="entry in ctrl.accounts">
                <td ng-bind="entry._id"></td>
                <td ng-bind="entry.email"></td>
                <td>
                    <button class="btn btn-primary" ng-click="ctrl.approve(entry._id)">Approve</button>
                    <button class="btn btn-primary" ng-click="ctrl.remove(entry._id)">Remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>