<h4>Transfer</h4>

<div class="panel panel-default" style="text-align: center;">

    <div class="panel-heading">
        <h4>
            Balance <span class="label label-default" ng-bind="ctrl.account.balance"></span>
            Limit <span class="label label-default" ng-bind="ctrl.account.limit"></span>
        </h4>
    </div>

    <div class="panel-body">  
        <label for="recipent">Recipient</label>
        <input id="recipient" list="recipients" type="text" class="form" autocomplete="off" ng-model="ctrl.transfer.recipient"/>
        <datalist id="recipients">
            <option ng-repeat="recipient in ctrl.recipients">{{recipient.email}}</option>
        </datalist>
        <label for="amount">Amount</label>
        <input id="amount" type="number" class="form" ng-model="ctrl.transfer.amount"/>
        <label for="description">Description</label>
        <input id="description" type="text" class="form" ng-model="ctrl.transfer.description"/>
        <button class="btn btn-primary" ng-click="ctrl.doTransfer()" ng-disabled="ctrl.transferInvalid()">Do it</button>
    </div>

    <div class="panel-footer">
        <span class="label label-success" ng-bind="ctrl.message.ok"></span>
        <span class="label label-danger" ng-bind="ctrl.message.error"></span>
        <button class="btn btn-primary" ng-click="ctrl.modalOpen()">Modal dialog</button>
        <button class="btn btn-primary" ng-click="ctrl.confirm()">Confirm</button>
    </div>
</div>